*{
    margin: 0;
    padding: 0;
}

#logo{
   height: 85px;
   width: 85px;
}

.navbar{
    background-color:#3A747E;
    overflow: hidden; 
    position: fixed;
    z-index: 1; 
}

/* login modal */
#anchor{
  text-decoration: none;
  color: black;
}
#wbn{
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
}

#index-container{
  padding-top: 130px;
}
#line{
  background-color: black;
  
}


/* card */
#card-logo{
  width: 100%;
}
#form-card{
  background-color: rgb(147, 153, 150);
}
#home-anchor{
  color: black;
  font-size: x-large;
}